@page "/"

<PageTitle>Home</PageTitle>

@inject HttpClient Http

<h3>In Stock Computers</h3>

@if (_computers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped table-hover">
        <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>User</th>
            <th>Service Tag</th>
            <th>OS</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var computer in _computers)
        {
            <tr @onclick="() => SelectComputer(computer)">
                <td>@computer.Id</td>
                <td>@computer.Name</td>
                <td>@computer.User</td>
                <td>@computer.ServiceTag</td>
                <td>@computer.OS</td>
            </tr>
            
            @if (_selectedComputer?.Id == computer.Id) 
            {
                <tr>
                    <td colspan="5">
                        <div class="row">
                            <div class="col">
                                <InputText class="form-control form-control-sm" @bind-Value="@_selectedComputer.Name" placeholder="Name" />
                            </div>
                            <div class="col">
                                <InputText class="form-control form-control-sm" @bind-Value="@_selectedComputer.User" placeholder="User" />
                            </div>
                            <div class="col">
                                <InputText class="form-control form-control-sm" @bind-Value="@_selectedComputer.ServiceTag" placeholder="Service Tag" />
                            </div>
                            <div class="col">
                                <InputText class="form-control form-control-sm" @bind-Value="@_selectedComputer.OS" placeholder="OS" />
                            </div>
                            <div class="col-auto">
                                <button type="submit" class="btn btn-primary btn-sm" @onclick="UpdateComputer">Update</button>
                                <button type="button" class="btn btn-secondary btn-sm" @onclick="CancelEdit">Cancel</button>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
}

@code {
    public class Computer
    {
        public int Id { get; set; }
        public string Name { get; set; }
        public string User { get; set; }
        public string ServiceTag { get; set; }
        public string OS { get; set; }
    }

    private Computer[]? _computers;
    private Computer? _selectedComputer;
    
    protected override async Task OnInitializedAsync()
    {
        var response = await Http.GetFromJsonAsync<Computer[]>("data/computers.json");
        _computers = response;
    }
    
    private void SelectComputer(Computer? computer)
    {
        _selectedComputer = computer;
    }
    
    private void UpdateComputer()
    {
        // TODO: Send update to API
        _selectedComputer = null;
    }

    private void CancelEdit()
    {
        _selectedComputer = null;
    }
}